{var $title = 'Výsledky hledání'}
{block obsah}
			{if $bylyPredanyParametry}
					<h1>Výsledky vyhledávání</h1>
					<div id="nastaveni-uctu-obsah-podobal">
						<h3>Počet výsledků pro dotaz "{if $dotaz != '*herech@seznam.cz*'}
						{$dotaz}
						{/if}": {$pocetVysledkuProDotaz}</h3>
						<hr />

						{if $pocetVysledkuProDotaz > 0}
								{for $i = 0;$i < $pocetKvizu; $i++}
								<div style="margin: 12px 0px;background:#DAE1F5;border: 1px solid #BCC7E7;border-radius: 15px;padding: 10px;overflow:hidden;">
									<a n:href="AzKviz:default idKvizu => $seznamKvizu[$i]['id'], nazevKvizu => $seznamKvizu[$i]['name']" style="text-decoration:none;"><h2 style="margin-bottom: 10px;color: #0032AF;text-decoration:none;border-bottom: 1px dashed #85979A;padding: 10px 0px;font-size: 20px;">{$seznamKvizu[$i]["name"]}</h2></a>
									<p>
									<span> Kvíz vytvořil: {$seznamKvizu[$i]["login"]}</span>
									</p>
								</div>
							{/for}
							
							{else}
								<div style="text-align: left; margin-top: 30px;color:#BF0000; width: 100%;">
								<strong>Pro zadaný dotaz nebyly nalezeny žádné výsledky. Je také možné, že daný kvíz existuje, ale je soukromý – tzn. neveřejný. </strong>
								<p style="color: black;margin-top: 15px;">Tip 1: Nezadávejte několik slov za sebou, ale zkuste zadat jen jedno určité klíčové slovo.</p>
								<p style="color: black;margin-top: 15px;">Tip 2: Zadejte hvězdičku * pro výpis všech veřejných kvízů</p>
								</div>	
							{/if}
					</div>
					
			{else}
			<div style="text-align: center;color:#BF0000;">
				<strong>Nebyly předány požadované parametry!</strong>
			</div>
			{/if}
{/block}