<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	<meta name="description" content="Online AZ kvíz by Honza Herec">
	<meta name="keywords" content="Az kvíz, online, Jan Herec, Honza Herec">
	<meta name="author" content="Jan Herec, Honza Herec">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<title>Online AZ kvíz, by Honza Herec {ifset $title}– {$title}{/ifset}</title>
	<link rel="stylesheet" href="{$basePath}/css/styly.css" type="text/css">
</head>
<body>
<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
<div style="margin: 20px;">
{form switchForm}
{label switch /}
<div style="margin-top:10px;">
{input switch}
{input submit}
</div>
<div>
{/form}
</body>
</html>