{**
 * My Application layout template.
 *
 * @copyright  Copyright (c) 2010 John Doe
 * @package    MyApplication
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	<meta name="description" content="Online AZ kvíz by Honza Herec">
	<meta name="keywords" content="Az kvíz, online, Jan Herec, Honza Herec">
	<meta name="author" content="Jan Herec, Honza Herec">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<title>Online AZ kvíz, by Honza Herec {ifset $title}– {$title}{/ifset}</title>
	<link rel="stylesheet" href="{$basePath}/css/styly.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="{$basePath}/js/jquery.js">
	</script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	{block head}{/block}
</head>

<body>
	<script> document.body.className+=' js' </script>
		<div class="horni-pruh"></div>
		<div id="stranka_zahlavi">
			<div class="obal-hornidiv">
				<div id="titulek">
					<h1><a n:href="Homepage:" style="color:inherit;text-decoration:none;">Az kvíz</a></h1>
					<h2>by Honza Herec</h2>
				</div>
				<div id="flowers">
				</div>
				<div style="clear:both;">
				</div>
			</div>
		</div>
		<div class="hledejKvizy">
			<div class="obalNaKvizy">
			{form hledaniKvizuForm}
		{if $user->isLoggedIn()}		
			{input dotaz}
			{input submit}
		{else}
			{input dotaz}
			{input submit disabled => true}
		{/if}
			{/form}
			</div>
		</div>
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
		{if !$user->isLoggedIn()}	
		{block uvodni-privitani}{/block}
		{/if}	
		<div class="obal-telo">
		{if $user->isLoggedIn()}
			<div id="obsah">
			{include #obsah}
			</div>
			<div id="postranni-panel">
				<nav>
					<ul>
						<li><a n:href="PrehledMychKvizu:">Přehled mých Kvízů</a></li>
						<li><a n:href="VytvoreniNovehoKvizu:">Vytvoř nový kvíz</a></li>
						<li><a n:href="NastaveniUctu:">Nastavení účtu</a></li>
						<li><a n:href="singOut!">Odhlásit se</a></li>
					</ul>
				</nav>
			</div>
			<div class="umela-sekce"> </div>
		{else}
			<div id="obsah-pro-neprihlasene">
				<div id="obal-registrace">
					<h2>Registrace</h2>
					{form registrationForm id => registrace}
					{control $form errors}
					{label email /}
					{input email id => email1}
					{label password /}
					{input password}
					{label password1 /}
					{input password1}
					<div><label><strong>Vyplňte kontrolní součet</strong> (ochrana proti botům)</label></div>
					<div>{input inputPrvniNahodneCislo} + {input inputDruheNahodneCislo} = {input inputVysledekSouctu}</div>
					{input submit}
					

					{/form}
				</div>
				<div id="obal-prihlaseni">
					<h2>Přihlášení</h2>
					{form signInForm id => prihlaseni}
					{control $form errors}
					{label email /}
					{input email}
					{label password /}
					{input password}
					{input submit}
					<a href="#" id="odkaz-zapomenute-heslo">Zapoměli jste heslo?</a>
					{/form}

					<h2 id="nadpis-zapomenute-heslo">Zapomenuté heslo</h2>
					{form newPasswordForm id => zapomenute-heslo}
					{control $form errors}
					{label email /}
					{input email}
					{label password /}
					{input password}
						<div><label><strong>Vyplňte kontrolní součet</strong> (ochrana proti botům)</label></div>
					<div>{input inputPrvniNahodneCislo} + {input inputDruheNahodneCislo} = {input inputVysledekSouctu}</div>
						{input submit}
					{/form}
				</div>
				<div style="clear:both"></div>
			</div>
		{/if}
		</div>
		<div id="stranka_zapati">
			Copyright &copy; 2012, Jan Herec. Stránky vytvořeny v rámci SOČ na GJP.<br />
			Kontakt: herech&#64;seznam.cz
		</div>
		<script type="text/javascript" src="{$basePath}/js/prihlaseni.js">
		</script>
		<script type="text/javascript">
		if ($("#oznam-vysledek-akce").length != 0) {
			setTimeout(function() {
			$("#oznam-vysledek-akce").fadeOut();
			}, 6000);
		}
		</script>
		
</body>
</html>
