{var $title = 'Nastavení účtu'}
{block obsah}

		<div id="nastaveni-uctu-obsah-podobal">
			<h3>Fakta o vašem účtu</h3>
			<p>Datum založení účtu: 
			
							{$uzivatel->date|date:'j. n. Y'} v {$uzivatel->date|date:'H:i'}
			</p>
			<p>Pořadí založení účtu: {$uzivatel->id}</p>
			<hr />
			<h3>Uživatelské údaje</h3>
			<p>Přihlašovací jméno: {$uzivatel->login}</p>
			<p>Email: {$uzivatel->email}</p>
			<hr />
			<div style="margin-top: 20px;">
				<p><a href="#" id="nastaveni-uctu-zmen-email">Změnit email</a> (Jen v nezbytných případech)</p>
				<p><a href="#" id="nastaveni-uctu-zmen-heslo">Změnit heslo</a></p>
			</div>
			<div id="zmenit-heslo">
				{form zmenitHesloForm id => form-zmena-hesla}
					{control $form errors}
					{label passwordOld /}
					{input  passwordOld}
					{label passwordNew /}
					{input passwordNew}
					{label passwordNewCheck /}
					{input passwordNewCheck}
					{input submit}
				{/form}
			</div>
			<div id="zmenit-email">
				{form zmenitEmailForm id => form-zmena-emailu}
					{control $form errors}
					{label passwordCurrent /}
					{input passwordCurrent}
					{label emailNew /}
					{input emailNew}
					{input submit}
				{/form}
			</div>
		</div>
<script type="text/javascript">
		$(function() {
		
			$("#nastaveni-uctu-zmen-email").bind("click", function(kliknuti) {
				kliknuti.preventDefault();
				$("#zmenit-heslo").fadeOut("slow", function() {
					$("#zmenit-email").fadeIn("slow");
				});
			});
			$("#nastaveni-uctu-zmen-heslo").bind("click", function(kliknuti) {
				kliknuti.preventDefault();
				$("#zmenit-email").fadeOut("slow", function() {
					$("#zmenit-heslo").fadeIn("slow");
				});
			});

		});
		</script>
{/block}
