/*---------------OBECNÉ STYLY PRO KAŽDOU STRÁNKU-----------------*/
* {
padding: 0px;
margin: 0px;
}
/*@font-face {
	font-family: "Alba";
	src: url("alba.ttf");
}
@font-face {
	font-family: "Billo Dream";
	src: url("billo_dream.ttf");
}
@font-face {
	font-family: "Eight";
	src: url("Kopie-EIGH3___.TTF");
}
@font-face {
	font-family: "Giddy";
	src: url("GiddyupStd.otf");
}*/
@font-face {
	font-family: "Gunny";
	src: url("scrgunny.TTF");
}
@font-face {
	font-family: "Strumpf";
	src: url("StrumpfStd-Open.otf");
}/*
@font-face {
	font-family: "Phrossa";
	src: url("Phorssa.ttf");
}
@font-face {
	font-family: "Bank";
	src: url("BNKGOTHM.TTF");
}*/

body {
	width: 100%;
	margin: 0px auto;
	font-family: "Arial", "MS Trebuchet";
	background: rgb(248,248,248);
	font-size: 16px;
}

img a, img{
	border:none;
}


input {
display:block;
}

p {
	margin: 0 0 20px 0;
}
p, li {
	line-height: 20px;
}

hr {
	height: 1px;
	background: rgb(200,200,200);
	color: rgb(200,200,200);
	border:none;
	clear:both;
}
div.horni-pruh {
	width: 100%;
	height: 5px;
	background: #868686;
	border-bottom: 2px solid #787878;
	border-top: 2px solid #9C9C9C;
	position:relative;
	z-index: 10;
}

div#stranka_zahlavi {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: url("../img/horni-gradient1.png") repeat-x;
	height: 150px;
	position:relative;
	text-align:center;
}
div.obal-hornidiv {
	width: 1024px;
	padding:0px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	text-align:center;
}
#titulek h1 {
	position: relative;
	top: 15px;
	left: 0px;
	font-size: 64px;
	font-family: "Strumpf";/*,"Billo Dream","MS Serif","Eight","Phrossa","Bank","Aardwark Cafe","Alba";*/
	font-weight: normal;
	color: rgb(35,190,255);
	margin: 0px;
	text-align:left;
}

#titulek h2 {
	position: relative;
	top: 5px;
	left: 20px;
	font-weight: bold;
	font-size: 34px;
	font-family: "Gunny";/*,"Giddy","Alba";*/
	color: rgb(200,200,200);
	margin:0px;
	text-align:left;
}

div#titulek {
	width: 275px;
	z-index: 10;
	position: relative;
	text-align:none;
	float:left;
	left: 20px;
}

div#flowers {
	margin:0px;
	padding:0px;
	width: 740px;
	left: -300px;
	height: 150px;
	margin:0px;
	position: relative;
	float: left;
	background: url("../img/background-flowers888888.png");
	z-index: 5;
	text-align:none;
}

div.obal-telo {
	width: 1024px;
	padding:0px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background: #ECECEC;
	position: relative;
	text-align:center;
	box-shadow: 5px 10px 30px #BDBDBD;
	left: auto;
	right:auto;
	top: 50px;
	border-radius: 8px;
}
div#stranka_zahlavi nav ul, #stranka_zahlavi nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#stranka_zahlavi nav ul li, div#stranka_zapati nav ul li {
	padding: 0px;
	margin: 0 20px 0 0;
	display: inline;
}

div.hledejKvizy {
  width: 100%;
  border-top: 2px solid rgb(220,220,220);
  height: 42px;
  background: #9EBDD0;
  border-bottom: 2px solid #84AFC9;
  border-top: 2px solid #B8D3E4;
  box-shadow: 5px -5px 30px #395261;
  z-index:10;
  position:relative;
}

div.obalNaKvizy {
	width: 1024px;
	height: 42px;
	margin-left: auto;
	margin-right: auto;
	text-align:right;
	position:relative;
}
div.obalNaKvizy form {
	width: 250px;
	height: 42;
	display:block;
	position:relative;
	top:5px;
	right:-774px;
}

.hledejKvizy form input[type="text"]{

	border: 1px solid #80A8BA;
	border-radius: 5px;
	font-size: 12px;
	padding: 6px;
	width: 170px;
	font-size: 14px;
	/*position: relative;
	top: 6px;*/
	background: #d7f3ff;
	float:left;
}

.hledejKvizy form input[type="submit"]{
	border: 1px solid #526F7C;
	border-radius: 5px;
	font-size: 12px;
	padding: 5px;
	font-size: 14px;
	margin-left: 10px;
	/*position: relative;
	top: 6px;*/
	background: #597A88;
	float:left;
}

div#stranka_zapati {
	clear: both;
	width: 100%;
	display: block;
	text-align: center;
	background: #16434A;
	line-height: 1.5;
	margin-top: 100px;
	padding: 5px;
	color:white;
	margin-bottom: 30px;
}

/*----------------SPECIFICKÉ STYLY PRO RŮZNÉ STRÁNKY---------------------*/

div#postranni-panel {
	float: right;
	width: 27%;
	text-align:left;
}

div#obsah {
	float: left;
	width: 72%;
	background: transparent;
	height: auto;
	border-right: 2px dotted #A3A8AB;
	background: rgb(248,248,248);
	border-radius: 8px;
	padding: 30px 0px;
	text-align:left;
	min-height: 700px;
}

div#obsah  h1{
	text-align:center;
	font-size: 24px;
	color: rgb(30,30,30);
	margin-bottom: 0px;
}

div#obsah-pro-neprihlasene {
	margin:10px 0px;
	position:relative;
	top: 30px;
	padding:0px;
	height:600px;
	text-align: left;
	color: rgb(30,30,30);
	width: 900px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

div#obsah-pro-neprihlasene form[action="zapomenute-heslo.php"], h2#nadpis-zapomenute-heslo  {
	display:none;
}

div#obal-prihlaseni h2 {
	margin: 10px 0px 30px 40px;
	font-size: 20px;
	border-bottom: 1px solid rgb(180,180,180);
	padding: 5px;
	width: 300px;
	color: rgb(100,100,100);
}

div#obal-registrace  h2 {
	margin: 10px 0px 30px 0px;
	font-size: 20px;
	border-bottom: 1px solid rgb(180,180,180);
	padding: 5px;
	width: 300px;
	color: rgb(100,100,100);
}

div#obal-registrace form {
	width: 450px;
}

div#obal-prihlaseni form {
	margin-left: 40px;
	width: 330px;
}

div#obsah-pro-neprihlasene input {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 6px;
	width: 240px;
}

div#obsah-pro-neprihlasene input[type="submit"] {
	width: 100px;
}

div#obal-registrace {
	width: 500px;
	height:500px;
	float:left;
	border-right: 2px dashed rgb(180,180,180);
	text-align:left;
}


div#obal-registrace #hesla-stejne {
	color:green;
	font-size: 16px;
	display:none;
	margin-bottom: 10px;
}
div#obal-registrace #hesla-nestejne {
	color:red;
	font-size: 16px;
	display:none;
	margin-bottom: 10px;
}

div#obal-registrace #neplatny-email {
	color:red;
	font-size: 16px;
	display:none;
	margin-bottom: 10px;
}

div#obal-prihlaseni {
	width: 370px;
	height:500px;
	float:right;
	text-align:left;
}


div#postranni-panel a, div#postranni-panel a:link, div#postranni-panel a:visited {
	/*text-decoration:none;
	display:block;
	font-size: 18px;
	font-weight: bold;
	color: black;
	background: rgb(210,210,210);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px;
	padding-left: 8px;*/
	border-bottom: 1px dotted #B5B6B6;
	color: #1E1E1E;
	display: block;
	font-size: 18px;
	font-weight: 700;
	padding: 30px 10px 30px 16px;
	text-decoration: none;
}

div#postranni-panel ul li {
	display: block;
	list-style-type:none;
}

div#postranni-panel a:hover{
	background:#E3E3E3;
}

div.umela-sekce {
	display: block;
	clear: both;
}

#prihlaseni-welcome  {
padding: 50px; 
line-height: 1.5;
}

#prihlaseni-welcome  li{
margin-left: 15px;
}
.odstavec-welcome {
padding: 10px;
margin-top: 10px;
border-radius: 10px;
background: #EAEAED;
color: #131590;
}

	/*-----------------NASTAVENÍ ÚČTU--------------------*/
	#nastaveni-uctu-obsah-podobal {
		padding: 60px;
		padding-top: 50px;
	}
	#nastaveni-uctu-obsah-podobal h3 {
		margin-left: 0px;
		padding-left:0px;
	}
	
	#zmenit-email,#zmenit-heslo {
		display:none;
	}
	#zmenit-heslo #hesla-nestejne {
		display:none;
		color: red;
	}
	#zmenit-heslo #hesla-stejne {
		display:none;
		color: green;
	}
	#zmenit-email input, #zmenit-heslo input{
		display: block;
		padding: 4px;
		margin: 10px 0px;
	}
	#zmenit-email input, #zmenit-heslo input {
		width: 200px;
	}
	#zmenit-email input[type="submit"], #zmenit-heslo input[type="submit"] {
		width: auto;
	}
	
/*-----------------VYTVOŘENÍ NOVÉHO KVÍZU--------------------*/

div.obsah-vytvoreni-kvizu{
	width: 70%;
	min-height: 600px;
	height: auto;
	margin-right: 100px;
	float:left;
	padding: 40px 0px 10px 60px;
}

div.obsah-vytvoreni-kvizu h2, h3 {
	font-size: 20px;
	margin: 15px 20px;
	font-weight: bold;
}

div.obsah-vytvoreni-kvizu hr {
	height: 1px;
	background: rgb(200,200,200);
	color: rgb(200,200,200);
	border:none;
}

div#zluta-barva {
	background: #FEF9A0;
	padding: 15px 5px 15px 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid rgb(200,200,200);
	width: 90%;
	float:right;
}
div#seda-barva {
	background: #E4E3E3;
	padding: 15px 5px 15px 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid rgb(200,200,200);
	width: 90%;
	float:right;
	text-align:left;
}
div.obsah-vytvoreni-kvizu ul li{
	margin-top: 5px;
}
div.obsah-vytvoreni-kvizu ul li,div.obsah-vytvoreni-kvizu ul {
	background:transparent;
	background: #FEF9A0;
}
div.obsah-vytvoreni-kvizu div#seda-barva ul li,div.obsah-vytvoreni-kvizu div#seda-barva ul {
	background:transparent;
	background: #E4E3E3;
}

div.obsah-vytvoreni-kvizu form {
	width: 100%;
	float:left;
}

div.obsah-vytvoreni-kvizu input#nazev-kvizu {
	float:right;
	width: 470px;
	margin-bottom: 15px;
}

div.obsah-vytvoreni-kvizu input[type="submit"] {
	font-size: 13px;
	padding: 5px;
	border-radius: 5px;
	clear:both;
	float:right;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.obsah-vytvoreni-kvizu input[type="text"] {
	border: 1px solid rgb(200,200,200);
	color: #000000;
	font-size: 13px;
	padding: 5px;
	border-radius: 5px;
}

input.otazky {
	float:right;
	display:block;
	width: 470px;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-right: 0px;
}

input.odpovedi {
	display:block;
	float:right;
	width: 430px;
	margin-right: 0px;
	clear:both;
	margin-bottom: 10px;
	background: #FFDDD6;
}
input.spravna-odpoved {
	background: #E3FFDA;
}

div.cislo {
	float:right;
	margin-right: 10px;
	margin-top: 22px;
}



/*-----------------STYLY SPECIÁLNĚ PRO SAMOTNOU HRU--------------------*/

div#showGallery {
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	height: 3000px;
	background: url("../img/pruhlednepozadi.png") repeat;
	opacity: 0;
}

div#showGalleryBox {
	position: absolute;
	text-align: center;
	top: 10%;
	left: 0px;
	z-index: 1010;
	width: 100%;
	height: 450px;
	background: transparent;
	opacity: 0;
}

div#showGalleryBox1 {
	position: relative;
	margin: 5px auto;
	z-index: 1020;
	width: 600px;
	height: 100%;
	background: white;
	opacity: 1;
	border-radius: 15px;
	box-shadow: 5px 5px 20px black;
}


div#showGalleryBox1 li {
	margin-top: 20px;
	width: 100%;
	list-style-type: inside;
}

#preloader {
	margin-left: auto;
	margin-right: auto;
	top: 100px;
	position: relative;
}


#odpovedi-z-ajaxu {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

div#showGalleryBox1 h3 {
	font-size: 21px;
	margin-top:10px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	color: rgb(30,30,30);
}

div.kviz-hraci {
	float:left;
	width: 150px;
	margin-top: 60px;
	margin-left: 30px;
	position:absolute;
	color: rgb(80,80,80);
}

.kviz-hraci img {
	margin-left:0px;
	float:left;
	margin-top: 10px;
	clear:left;
	margin-left: 0px;
	display:block;
	border-radius: 7px;
}

.kviz-hraci span {
	float:left;
	margin-top: 12px;
	margin-left: 5px;
}

div.obal-policka a {
	display:block;
	width: 100%;
	height: auto;
	font-size: 30px;
	font-weight: bold;
	color: rgb(20,20,40);
	text-decoration: none;
	background:transparent;
	padding: 0px;
	font-family:"Arial";
}

.azkviz {
width: 100%;
height: 700px;
}

#pocetZbyvajicichSekund-obal {
	font-size: 20px;
	padding: 8px;
	color: #FFFFFF;
	background: rgb(50,50,50);
}

#pocetZbyvajicichSekund {
	font-size: 20px;
}

#pocetZbyvajicichSekund1 {
	font-size: 20px;
	color:#ff3d1b;
}

#zobraz-vysledek {
	display:none;
	font-size: 17px;
	margin-top: 30px;
}

#zobraz-vysledek[data-barva="zelena"] {
	color:green;
}
#zobraz-vysledek[data-barva="cervena"] {
	color:red;
}
#zobraz-vysledek[data-barva="stribrna"] {
	color:rgb(150,150,150);
}

#otazkaProHrace {
	font-size:18px;
	color: #8AA8AA;;
	padding-top: 30px;
}

div#showGalleryBox1 ul, div#showGalleryBox1 ul li {
	display:block;
	margin-top: 20px;
}

.moznosti {
	font-size: 18px;
	color: blue;
	text-decoration:none;
	font-weight:bold;
}

#obrazek, #obrazek1 {
	width: 250px;
	height: 250px;
	margin-left:30px;
	margin-top:20px;
	float:left;
}

div.obal-policka {
	display:block;
	position: relative;
	text-align: center;
	padding-top: 20px;
	width: 66px;
	height: 56px;
	z-index: 200;
}

div.obal-policka[data-barva="modra"] {
	background: url("../img/blueField.png");
}

div.obal-policka[data-barva="cervena"] {
	background: url("../img/redField-Final.png");
}

div.obal-policka[data-barva="zluta"] {
	background: url("../img/yellowField-Final.png");
}

div.obal-policka[data-barva="seda"] {
	background: url("../img/greyField-Final.png");
}
div.obal-policka[data-barva="seda"] a.policko {
	color: white;
}
div.obal-policka[data-cislo="1"] {
	top: 70px;
	left: 337px;
}
div.obal-policka[data-cislo="2"] {
	top: 50px;
	left: 304px;
}
div.obal-policka[data-cislo="3"] {
	top: -26px;
	left: 369px;
}
div.obal-policka[data-cislo="4"] {
	top: -46px;
	left: 271px;
}
div.obal-policka[data-cislo="5"] {
	top: -122px;
	left: 336px;
}
div.obal-policka[data-cislo="6"] {
	top: -198px;
	left: 401px;
}
div.obal-policka[data-cislo="7"] {
	top: -218px;
	left: 238px;
}
div.obal-policka[data-cislo="8"] {
	top: -294px;
	left: 303px;
}
div.obal-policka[data-cislo="9"] {
	top: -370px;
	left: 368px;
}
div.obal-policka[data-cislo="10"] {
	top: -446px;
	left: 433px;
}
div.obal-policka[data-cislo="11"] {
	top: -466px;
	left: 205px;
}
div.obal-policka[data-cislo="12"] {
	top: -542px;
	left: 270px;
}
div.obal-policka[data-cislo="13"] {
	top: -618px;
	left: 335px;
}
div.obal-policka[data-cislo="14"] {
	top: -694px;
	left: 400px;
}
div.obal-policka[data-cislo="15"] {
	top: -769px;
	left: 465px;
}
div.obal-policka[data-cislo="16"] {
	top: -790px;
	left: 173px;
}
div.obal-policka[data-cislo="17"] {
	top: -866px;
	left: 237px;
}
div.obal-policka[data-cislo="18"] {
	top: -942px;
	left: 302px;
}
div.obal-policka[data-cislo="19"] {
	top: -1018px;
	left: 367px;
}
div.obal-policka[data-cislo="20"] {
	top: -1093px;
	left: 432px;
}
div.obal-policka[data-cislo="21"] {
	top: -1169px;;
	left: 497px;
}
div.obal-policka[data-cislo="22"] {
	top: -1190px;
	left: 139px;
}
div.obal-policka[data-cislo="23"] {
	top: -1266px;
	left: 204px;
}
div.obal-policka[data-cislo="24"] {
	top: -1342px;
	left: 269px;
}
div.obal-policka[data-cislo="25"] {
	top: -1418px;
	left: 334px;
}
div.obal-policka[data-cislo="26"] {
	top: -1493px;
	left: 399px;
}
div.obal-policka[data-cislo="27"] {
	top: -1569px;
	left: 464px;
}
div.obal-policka[data-cislo="28"] {
	top: -1645px;
	left: 529px;
}