{var $title = 'Přehled mých kvízů'}
{block obsah}
<h1>Přehled mých kvízů</h1>
<div class="obsah-vytvoreni-kvizu">

		{if $existujiVytvoreneKvizy}
			{for $i = 0;$i < $pocetKvizu;$i++}
				<div style="margin-bottom: 10px; border: 2px solid #ABCBD0;background:#C8DEE2;border-radius: 15px;width: 100%;padding: 5px;overflow:hidden;">
					<a n:href="AzKviz:default idKvizu => $kvizy[$i]['id'], nazevKvizu => $kvizy[$i]['name']" style="text-decoration:none;display:block;"><h2 style="color: #0032AF;text-decoration:none;border-bottom: 2px dashed #85979A;padding-bottom: 10px;">{$kvizy[$i]["name"]}</h2></a>
					<p>
					<a n:href="PrehledMychKvizu:upravKviz idKvizu => $kvizy[$i]['id']"><img src="{$basePath}/img/Edit24.png" style="margin-top: 10px;margin-left: 10px;"></a><a n:href="PrehledMychKvizu:smazKviz idKvizu => $kvizy[$i]['id']" class="smazat-kviz"><img src="{$basePath}/img/Delete24.png" style="margin-top: 10px;margin-left: 10px; margin-right: 20px;"></a>
					<span style="color:rgb(30,30,30);"> {if ($kvizy[$i]["have_options"] == "ano")}
						{if ($kvizy[$i]["public"] == "ano")}
						<strong>Veřejný kvíz s možnostmi</strong>,
						{else}
						<strong>Soukromý kvíz s možnostmi</strong>,
						{/if}
					{else}
						{if ($kvizy[$i]["public"] == "ano")}
						<strong>Veřejný kvíz bez možností</strong>,
						{else}
						<strong>Soukromý kvíz bez možností</strong>,
						{/if}
					{/if} vytvořen: {$kvizy[$i]["date"]|date:'j. n. Y'} v {$kvizy[$i]["date"]|date:'H:i'} </span>
					</p>
				</div>
			{/for}

		{else}
			Zatím nemáte vytvořené žádné kvízy.
		{/if}
		
</div>
<script type="text/javascript">
		$(function() {
			$(".smazat-kviz").click(function(prevent) {
				potvrdSmazani = window.confirm("Opravdu chcete smazat tento kvíz?");
				if (potvrdSmazani)
					return true;
				else {
					prevent.preventDefault();
					return false;
				}
			});
			
		});
		</script>
{/block}