{var $title = 'Úpravení kvízu'}
{block obsah}
{if $existujeKvizProUzivatele == false}
	<div style="text-align: center;color:#BF0000; width: 100%;">
		<strong>Tento kvíz buď neexistuje, nebo nemáte oprávnění jej měnit!</strong>
	</div>
{else}

	<h1>Upravení vašeho kvízu</h1>
	<div class="obsah-vytvoreni-kvizu">
		{form upraveniKvizuForm data-idKvizu => 'upraveniKvizu'}
			<div style="margin-bottom:20px;">
				<h2>Název vašeho kvízu: </h2>
				{input nazevKvizu value => $vlastnostiKvizu["name"]}
				<label style="margin: 20px 20px 20px 40px;">Veřejný kvíz</label>
				{input public}
				<div id="zluta-barva">
					<ul><li>veřejný kvíz bude zobrazen ve výsledcích vyhledávání (pouze pro přihlášené uživatele) a bude dostupný po zadání jeho url adresy (opět pouze pro přihlášené uživatele)</li>
					</ul>
					</div>
				</div>
			<hr />
			{if $obsahujeKvizMoznosti}
			<h3>28 otázek + pro každou 3 možnosti:</h3>
			<div id="zluta-barva">
			<ul><li>čísla otázek nemají spojitost s čísly políček kvízu</li>
			<li>zelené políčko označuje správnou možnost pro danou otázku, červené políčka označují nesprávné možnosti</li></ul>
			</div>
			{else}
			<h3>28 otázek se správnými možnostmi:</h3>
			<div id="zluta-barva">
			<ul><li>čísla otázek nemají spojitost s čísly políček kvízu</li>
			<li>zelené políčko označuje správnou možnost pro danou otázku</li></ul>
			</div>
			{/if}
		
			
				{if $obsahujeKvizMoznosti}
					{for $i = 1;$i <= 28;$i++}
						{input otazky-$i value => $otazky[($i-1)]}
						<div class="cislo">{$i}. </div>
						{for $j = 1;$j <= 3;$j++}
							{var $k = ($i * 3) - 3 + $j}
							{if ($j % 3) == 1}
								{input odpovedi-$k class => "odpovedi spravna-odpoved",value => $odpovedi[($i * 3 - 4 + $j)]}
							{else}
								{input odpovedi-$k class => "odpovedi",value => $odpovedi[($i * 3 - 4 + $j)]}
							{/if}
						{/for}
					{/for}
				{else}
					{for $i = 1;$i <= 28;$i++}
						{input otazky-$i value => $otazky[($i - 1)]}
						<div class="cislo">{$i}. </div>
						{input odpovedi-$i class => "odpovedi spravna-odpoved",value => $odpovedi[($i - 1)]}
						
					{/for}
				{/if}
			
			<input type="submit" value="Uprav kvíz">
			{/form}
	</div>
{/if}
<script type="text/javascript">
		$(function() {
			/*$('div.obsah-vytvoreni-kvizu input[type="text"]').each(function() {
				
				$(this).val("m");

			});*/
			
			$('form[data-idKvizu="upraveniKvizu"]').submit(function(submit) {
			$('div.obsah-vytvoreni-kvizu input[type="text"]').each(function() {
				
				if ($(this).val() == "") {
					alert("Nejsou vyplněna všechna políčka, vyplňte je prosím");
					submit.preventDefault();
					return false;
				}
				else {
					return true;
				}

			});
			});
		});
		</script>
{/block}