{var $title = 'Vytvoření nového kvízu'}
{block obsah}
<h1>Vytvoření nového kvízu</h1>
<div class="obsah-vytvoreni-kvizu">
	{form vytvoreniKvizuForm data-idKvizu => 'vytvoreniKvizu'}
	{control $form errors}
		<div style="margin-bottom:20px;">
			<h2>Název vašeho kvízu: </h2>
			{input nazevKvizu}
			<label style="margin: 20px 20px 20px 40px;">Veřejný kvíz</label>
			{input public}
			<div id="zluta-barva">
			<ul><li>veřejný kvíz bude zobrazen ve výsledcích vyhledávání (pouze pro přihlášené uživatele) a bude dostupný po zadání jeho url adresy (opět pouze pro přihlášené uživatele)</li>
			</ul>
			</div>
		</div>
		<hr/>
		<div id="mame-na-vyber-jaky-typ-kvizu-vytvorime" style="margin-top: 10px; text-align: center">
		<h3 style="text-align:left;margin-bottom: 30px;">Vyberte typ kvízu: </h3>
			<a href="#" id="click-kviz-bez-moznosti" style="background: #00638E;color:white;text-decoration:none; padding: 7px; border-radius: 7px;font-weight:bold;">Kvíz bez možností</a>
			  nebo  
			<a href="#" id="click-kviz-s-moznostmi" style="background: #009150;color:white;text-decoration:none; padding: 7px; border-radius: 7px;font-weight:bold;">Kvíz s možnostmi</a>
			<div id="seda-barva" style="margin-top: 30px;">
			<ul><li>Vaše volba typu kvízu je nevratná, dobře si tedy rozmyslete jaký typ kvízu chcete nyní vytvořit.</li>
			<li>Především záleží na tématu, které chcete zpracovat, na způsobu jakým jej chcete zpracovat a také na množství času a energie, kterou jste ochotni do této tvorby investovat. </li>
			<li>Pokud se s tvorbou kvízu „nechcete příliš párat“ doporučuji kvíz bez možností.</li>
			<li>Pokud si s kvízem chcete naopak trošku vyhrát doporučuji kvíz s možnostmi.</li>
			</ul>
			</div>

		</div>
		<div id="kviz-s-moznostmi" style="display:none;">
			<h3>Vytvořte 28 otázek + pro každou 3 možnosti:</h3>
			<div id="zluta-barva">
			<ul><li>čísla otázek nemají spojitost s čísly políček kvízu</li>
			<li>zelené políčko označuje správnou možnost pro danou otázku, červená políčka označují nesprávné možnosti</li></ul>
			</div> 
			 
				{for $i = 1;$i <= 28;$i++}
				
					{input otazky-$i}
					<div class="cislo">{$i}. </div>
					{for $j = 1;$j <= 3; $j++}
						{var $k = ($i * 3) - 3 + $j}
						{if ($j % 3) == 1}
							{input odpovedi-$k class => "odpovedi spravna-odpoved"}
						{else}
							{input odpovedi-$k class => "odpovedi"}
						{/if}
					{/for}
				{/for}
			
			{input typKvizu value => "kvizSMoznostmi"}
			{input submit}
		</div>
		<div id="kviz-bez-moznosti" style="display:none;">
			<h3>Vytvořte 28 otázek se správnými možnostmi:</h3>
			<div id="zluta-barva">
			<ul><li>čísla otázek nemají spojitost s čísly políček kvízu</li>
			<li>zelené políčko označuje správnou možnost pro danou otázku</li>
			</ul>
			</div> 
			 
				{for $i = 1;$i <= 28;$i++}
					{input otazky-$i}
					<div class="cislo">{$i}. </div>
					{input odpovedi-$i class => "odpovedi spravna-odpoved"}
					
				{/for}
			
			{input typKvizu value => "kvizBezMoznosti"}
			{input submit}
		</div>
		{/form}
</div>
<script type="text/javascript">
		$(function() {
			/*$('div.obsah-vytvoreni-kvizu input[type="text"]').each(function() {
				
				$(this).val("m");

			});*/
			
			kliknuto = false;
			
			$("#click-kviz-s-moznostmi").bind("click", function(kliknuti) {
				kliknuti.preventDefault();
				kliknuto = true;
				$("#mame-na-vyber-jaky-typ-kvizu-vytvorime").fadeOut("slow", function() {
					$("#kviz-bez-moznosti").remove();
					$("#kviz-s-moznostmi").fadeIn();
				});
			});
			$("#click-kviz-bez-moznosti").bind("click", function(kliknuti) {
				kliknuti.preventDefault();
				kliknuto = true;
				$("#mame-na-vyber-jaky-typ-kvizu-vytvorime").fadeOut("slow", function() {
					$("#kviz-s-moznostmi").remove();
					$("#kviz-bez-moznosti").fadeIn();
				});
			});
			
			$('form[data-idKvizu="vytvoreniKvizu"]').submit(function(submit) {
			$('div.obsah-vytvoreni-kvizu input[type="text"]').each(function() {
				
				if ($(this).val() == "") {
					alert("Nejsou vyplněna všechna políčka, vyplňte je prosím.");
					submit.preventDefault();
					return false;
				}
				else {
					return true;
				}

			});
			});
		});
		</script>
{/block}
